---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const pageTitle = "About Page";
const banksBooks = [
    {
        title: "Consider Phlebas",
        publication_year: 1987,
    },
    {
        title: "The Player of Games",
        publication_year: 1988,
    },
    {
        title: "Use of Weapons",
        publication_year: 1990,
    },
    {
        title: "The State of the Art",
        publication_year: 1991,
    },
    {
        title: "Excession",
        publication_year: 1996,
    },
    {
        title: "Inversions",
        publication_year: 1998,
    },
    {
        title: "Look to Windward",
        publication_year: 2000,
    },
    {
        title: "Matter",
        publication_year: 2008,
    },
    {
        title: "Surface Detail",
        publication_year: 2010,
    },
    {
        title: "The Hydrogen Sonata",
        publication_year: 2012,
    },
    {
        title: "The Culture: The Drawings",
        publication_year: 2023,
    },
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style>
            h1 {
                color: purple;
                font-size: 4em;
            }
        </style>
    </head>
    <body>
        <Navigation />
        <h1>{pageTitle}</h1>
        <p>Testing iterating through an array in frontmatter:</p>
        <ul>
            {
                banksBooks.map((book) => (
                    <li>
                        {book.publication_year}: {book.title}
                    </li>
                ))
            }
        </ul>
        {banksBooks.length > 2 && <p>Yup, Iain M. Banks wrote more than 2 books</p>}
    </body>
</html>
